<% if @product.errors.any? %>
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
  
        <ul>
          <% @product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
<% end %>

<%= form_with(model: @product, local:true) do |form| %>

<div>
  <%= form.label :Title %><br>
  <%= form.text_field :title%>
</div>

<div>
  <%= form.label :Description %><br>
  <%= form.text_area :description%>
</div>

<div>
  <%= form.label :Price %><br>
  <%= form.number_field :price %>
</div>

<div>
  <%= form.submit  %>
</div>

<% end %>